@charset "UTF-8";

body{
    background-color:  rgba(120, 245, 71, 0.877);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.37);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

input{
    margin-bottom: 10px;
}

div#resultado{
    padding: 10px 0px 15px 0px;
}