@charset "UTF-8";

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 25px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.233);
}

div{
    font-size: 19px;
    text-align: center;
    padding: 10px;
}

div#msgb{
    font-size: 25px;
    font-weight: bold;
}

#imagem{
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.301);
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}